# База данных (САМОЕ ВАЖНОЕ - НЕ ЗАГРУЖАЕМ!)
*.db
*.sqlite
*.sqlite3
instance/

# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Секреты
.env

# Системные файлы
.DS_Store
Thumbs.db